/*body {
	background-color: black;
	color: white;
	font-size:20px;
	text-align:justify;
 	width: 100%;
 	min-width: 1000px;
  	margin: 0 auto;
}*/

body {
  font-size: 2rem;
  width: 100%;
	background-color: black;
	color: white;
  min-width: 1000px;
  margin: 0 auto;
}
.imagecontainer {
	float: left;
	padding: 5px;
}

.paleyel {
  background-color: #2fae77;
}

#fimage{
   margin-top: 20%;

}

h1 {
  font-size: 3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #eab126;
  text-transform: lowercase;
}
#mainTitle{
  /* margin-top: 10%; */
  text-transform: capitalize;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
  width: 400px;
	height: 68px;
  position: absolute;
  top: 33%;
  left: 54%;
  transform: translate(-50%, -50%);
  opacity: 1;

}

.text-block {
 margin-top: 10%;
 opacity: 0.8;
 width: 630px;
 height: 80px;
 position: absolute;
 top: 20px;
 left: 37%;
 /* transform: translate(-50%, -50%); */
 background-color: #2fae77;
}

.mainSubtitle {
  font-family: 'Press Start 2P', cursive;
  color: #ffffdd;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: center;

}

h2 {
  font-family: 'Press Start 2P', cursive;
  color: #ffffdd;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

h3 {
  font-family: 'Press Start 2P', cursive;
  color: #ffffdd;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.content {
  width: 78%;
  float: right;
  padding: 2.5%;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
}

.mainMenu {
    width: 22%;
    position: fixed;
    z-index: 1;
    float: left;
    padding: 2%;
    height: 100vh;
    overflow-x: hidden;
}

.mainMenu a {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: black;
}

.mainMenu:hover {
    overflow-y: scroll;
}

.mainMenu::-webkit-scrollbar {
    display: none;
}
.dropbtn {
  float: right;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  color: transparent;
  display: inline;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-content {
  display: none;
  background-color: transparent;
  margin-left: 10%;
}
/*.dropdown {
  position: relative;
  display: inline-block;
  background-color: #2FAE77;
}*/

/*.dropdown-content {
  display: none;
  position: absolute;
  background: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #eab126;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}*/
/*.dropbtn{
  background-color: #2FAE77;
  float: right;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  color: transparent;
  display: inline;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}*/

/*.dropdown:hover .dropdown-content {
  display: block;
}
*/
/*.drop{
  margin-left:0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inline;

}*/

/*.dbtn
{
  background-color: #2FAE77;
  text-align: center;
  text-decoration: none;
  padding-left: 600%;

}
*/
.pagem:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 17px;
}
.pagem2:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 22px;
}
.pagem1:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 16px;
}


/*.dbtn:hover{
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  background-color: #2FAE77;
  font-size: 20px;
  padding: 725%;
}
*/

p,li,ul,blockquote {
	font-weight: 300;
 	font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

*{
  box-sizing: border-box;
}

#scrolltotop{
  padding-left: 95%;
  color: #2FAE77;
}

footer  {
  font-size: 1.3rem;
  color: white;
  text-align: left;
}


.tab {
  overflow: hidden;
  background-color: #2FAE77;
}

.tabbutton {
  background-color: #2FAE77;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.37rem;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabbutton:hover {
  background-color: #f1ce74;
}

.tabbutton.active {
  background-color: #eab126;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}
