.tl {
	color: #ffffcc;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
#pc{
  text-align: center;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 1px;
}
	.tl a:hover,
	a.selected {
		color: #ffcc00;
	}

h1,h2,h4,h5,h6 {
	text-align: center;
	color: #ccc;
	text-shadow: #000 1px 1px 2px;
	margin-bottom: 5px;
}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 14px;
	}
.sociales {
	text-align: center;
	margin-bottom: 20px;
}

#pic{
  height: 20px;
  width:30px;
}
	#timeline {

		width: 660px;
		height: 600px;
		overflow: hidden;
		margin: 40px auto;
    left: 9%;
		position: relative;
		background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/dot.gif') 3px top repeat-y;
	}
		#dates {
			width: 100px;
			height: 600px;
			overflow: hidden;
			float: left;
		}
			#dates li {
				list-style: none;
				width: 100px;
				height: 100px;
				line-height: 100px;
				font-size: 24px;
				padding-left: 10px;
				background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/biggerdot.png') left center no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 38px;
				}

		#issues {
			width: 560px;
			height: 600px;
			overflow: hidden;
			float: left;

		}
			#issues li {
				max-width: 300px; // width: 400px;
				height: 600px;
				list-style: none;
         text-align: center; // add


			}
				#issues li.selected img {
					-webkit-transform: scale(1.1,1.1);
					-moz-transform: scale(1.1,1.1);
				    -o-transform: scale(1.1,1.1);
				    -ms-transform: scale(1.1,1.1);
				    transform: scale(1.1,1.1);
				}
				#issues li img {
					// float: left;
           				width: 200px; // add
					margin: 10px 30px 10px 50px;
					-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
					zoom: 1;
					-webkit-transition: all 3s ease-in-out;
					-moz-transition: all 2s ease-in-out;
					-o-transition: all 2s ease-in-out;
					-ms-transition: all 2s ease-in-out;
					transition: all 2s ease-in-out;
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
				    -o-transform: scale(0.7,0.7);
				    -ms-transform: scale(0.7,0.7);
				    transform: scale(0.7,0.7);
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					text-align: center;
					text-shadow: #000 1px 1px 2px;
          text-transform:capitalize;
				}
				#issues li p {
					font-size: 18px;
					width: 350px;
					/* margin: 10px 20px; */
					font-weight: normal;
					line-height: 22px;
					text-shadow: #000 1px 1px 2px;
          color: white;
          padding-left: 50px;

				}
         .p1{

           border-style: 1px solid;
           border-color: red;

         }
		#grad_top,
		#grad_bottom {
			width: 500px;
			height: 80px;
			position: absolute;
		}
			#grad_top {
		        top: 0;
		        background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/grad_top.png') repeat-x;
			}
			#grad_bottom {
		        bottom: 0;
		        background: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/grad_bottom.png') repeat-x;
			}

		#next,
		#prev {
			position: absolute;
			left: 45%; // left: 55%;
			font-size: 70px;
			width: 38px;
			height: 22px;
			background-position: 0 -44px;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position:  0 0;
			}
			#next {
				bottom: 0;
				background-image: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/next_v.png');
			}
			#prev {
				top: 0;
				background-image: url('http://www.csslab.cl/ejemplos/timelinr/latest/images/prev_v.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}



body {

  font-size: 2rem;
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
}

.sand {
  background-color: black;
}


.paleyel {
  background-color: #2fae77;
}
.header {
  position: relative;


}

#mainTitle{
  margin-top: 10%;
  text-transform: capitalize;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
  width: 400px;
	height: 68px;
  position: absolute;
  top: 30%;
  left: 42%;
  transform: translate(-50%, -50%);
  opacity: 1;

}

#s{
  text-align: center;

}
.text-block {

  margin-top: 10%;
  opacity: 0.8;
  width: 630px;
	height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2fae77;

}

.in-page-nav{
  text-align: center;
  color: white;
  padding-right: 5%;
}

.in-page-nav a{
  color: white;
  padding-left: 2.5%;
}

.mainSubtitle {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

#gh{
  border: 5px solid gray;
}
.module {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.module p{
  color: white;
}

.content {
  width: 78%;
  float: right;
  padding: 2.5%;
}

.mainMenu {
    width: 22%;
    position: fixed;
    z-index: 1;
    float: left;
    padding: 2%;
    height: 100vh;
    overflow-x: hidden;
}

.mainMenu a {
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
  color: black;
}

.mainMenu:hover {
    overflow-y: scroll;
}

.mainMenu::-webkit-scrollbar {
    display: none;
}
/*
.dropdown {
  position: relative;
  display: inline-block;
  background-color: #2FAE77;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #eab126;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn{
  background-color: #2FAE77;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.drop{
  margin-left:0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: inline;

}
.tbtn
{
  background-color: #2FAE77;
  text-align: center;
  text-decoration: none;
  padding-left: 600%;

}


.abtnalt:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 17px;
}
.abtnalt1:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 16px;
}
.abtnalt {
  font-family: 'Josefin Sans', sans-serif;
}

.abtn:hover {
  color: #ffffdd;
}

.tbtn:hover{
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  background-color: #2FAE77;
  font-size: 20px;
  padding: 725%;

} */
.dropbtn {
  float: right;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  color: transparent;
  display: inline;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-content {
  display: none;
  background-color: transparent;
  margin-left: 10%;
}
.pagem:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 17px;
}
.pagem2:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 22px;
}
.pagem1:hover {
  font-family: 'Press Start 2P', cursive;
  color: #eab126;
  font-size: 16px;
}
hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-color: white;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  color: #eab126;
  text-transform: lowercase;
}

img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.diagram {
  object-fit: contain;
  max-height: 120vh;
}

.lists a:link{
    background-color: transparent;
    text-decoration: none;
    color: #ffffdd;
    font-weight: bold;
}
.lists a:visited {
    background-color: transparent;
    text-decoration: none;
    color: #ffffdd;
}

.lists a:active {
    background-color: transparent;
    text-decoration: underline;
    color: #ffffdd;
  }
.lists h4{
  font-weight: lighter;
}


p {
  text-align: justify;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
}

iframe{
  width: 502px;
  height: 282px;
  margin-left: 22%;
  border: 0px;
}

*{
	box-sizing: border-box;
}
#scrolltotop{
  padding-left: 95%;
  color: #2FAE77;
}

footer  {
  font-size: 1.3rem;
  color: white;
  text-align: left;
}
